@font-face {
  font-family: "Lobster";
  src: url("../assets/fonts/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif !important;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-wrapper {
  font-family: "Lobster", cursive;
  text-align: center;
  margin: 3rem 0;
  padding: 0.5rem 0;
}
.title {
  font-size: 4rem;
}
.title-wrapper :not(.title) {
  opacity: 0.9;
  font-size: 1.25rem;
  color: gold;
}
.nav-link {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover {
  text-shadow: 0 0 3px rgba(250, 250, 250, 0.8);
}
.active {
  opacity: 1 !important;
}
.fade-in {
  animation: fade-in 0.2s ease-in-out;
}
.fade-out {
  animation: fade-out 0.2s ease-in-out;
}
.loading-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(40, 40, 40, 0.3);
}
.load-wheel {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 17px solid rgba(0, 0, 0, 0.9);
  border-right-color: white;
  animation: loading-animation 1s linear infinite;
}
#cart-quantity-animation {
  animation: shrink-in 0.2s ease-in-out;
  background-color: rgb(255, 0, 25) !important;
}
#form-select-animation {
  animation: shrink-in 0.2s ease-in-out;
}
.text-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  opacity: 0.95;
  font-size: 1.5rem;
  padding: 1.5rem;
  margin: 1.5rem 0;
  letter-spacing: 1px;
}
.go-to-cart {
  margin-top: 2rem;
  color: #0d6efd;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
.go-to-cart:hover {
  transform: scale(1.05);
  color: #2a7fff;
}
.footer {
  margin-top: 3rem;
  background-color: rgb(5, 5, 5);
  box-shadow: rgba(250, 250, 250, 0.2) 0px 1px 4px;
}
.footer .container {
  display: flex;
  padding: 2rem 0;
  align-items: center;
  justify-content: space-between;
}
.socials svg {
  width: 2rem;
  fill: white;
}
.socials svg:last-of-type {
  margin-left: 0.75rem;
}
.socials svg:hover {
  fill: #0d6efd;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer-text {
  cursor: pointer;
  text-align: right;
}
.footer-text p:hover,
.footer a:hover {
  color: #0d6efd;
}
@keyframes loading-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
@keyframes shrink-in {
  from {
    transform: scale(1.02);
  }
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 3rem;
  }
  .text-content {
    font-size: 1.25rem;
    padding: 0.5rem;
    letter-spacing: 0.5px;
  }
  .footer .container {
    flex-direction: column;
    gap: 3rem;
    padding: 2.5rem 0;
  }
  .footer-text {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .title {
    font-size: 2.25rem;
  }
  #shop {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 400px) {
  .title-wrapper {
    padding: 1rem 0;
  }
  .title {
    font-size: 2rem;
  }
  #shop {
    font-size: 1.5rem;
  }
}
